[submodule "upload-ai-web-nwl-rocketseat"]
	path = upload-ai-web-nwl-rocketseat
	url = https://github.com/Vogon38/upload-ai-web-nwl-rocketseat.git
[submodule "upload-ai-server-nwl-rocketseat"]
	path = upload-ai-server-nwl-rocketseat
	url = https://github.com/Vogon38/upload-ai-server-nwl-rocketseat.git
